body,
html {
  box-sizing: border-box;
}

/* Navbar */
#navbar {
  background-color: #ffe0a9;
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.1);
}
#navbar-logo{
  height: 40px;
  margin: 10px;
  font-size: 20px;
  font-family:'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
}

/* Introduction part */
#introduction {
  display: flex;
  height: 600px;
  width: 100%;
}

.slogan-description {
  position: relative;
  width: 50%;
}
.slogan {
  position: absolute;
  top: 200px;
  left: 15px;
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 2px;
}
.description {
  position: absolute;
  top: 320px;
  left: 20px;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 2px;
}

/* Feature part */
#features {
  position: relative;
  top: 25px;
  display: flex;
  height: 700px;
  padding: 25px;
  border-radius: 15px;
  background: #cdcdcd;
}

.feature-logo {
  flex-basis: 35%;
  font-size: 30px;
  font-weight: 200;
}
#feature-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feature-name {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 600;
}

/* Search part */
#search-form-container {
  padding: 90px;
  border: 2px solid #ffa500;
  border-radius: 15px;
  background-color: white;
}
#search-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
}
#search-input {
  width: 60vw;
}


/* Gender buttons */
#gender-button-container {
  bottom: 25px;
  display: flex;
  justify-content: center;
  padding: 30px 0 10px 0;
}
.gender-button {
  width: 300px;
  height: 50px;
  margin: 20px;
  border: 2px solid #666666;
  border-radius: 15px;
  background-color: white;
  font-size: 20px;
  font-family: Arial, sans-serif;
}
#gender-button-icon {
  margin-right: 10px;
}
#gender-button-male:hover {
  transform: scale(1.1);
  transition: 1s;
  background-color: #7fbfff;
}
#gender-button-female:hover {
  transform: scale(1.1);
  transition: 1s;
  background-color: #ffc0cb;
}
#gender-button-non-specified:hover {
  transform: scale(1.1);
  transition: 1s;
  background-color: #ffc966;
}

/* User panel */
#data-container {
  padding: 25px;
}
#paginators {
  padding: 0 0 20px 0;
  /* border: 5px solid red; */
}

/* Footer */
#footer {
  height: 200px;
  border-radius: 15px 15px 0 0;
  padding: 15px;
  background-color: #cdcdcd;
}
#footer-contents {
  font-size: 25px;
  font-weight: 300;
}
#footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  font-family:'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
}